@model DAES.Model.SistemaIntegrado.Organizacion
@Html.HiddenFor(model => model.OrganizacionId)
@if (Model.ObservacionReformas.FirstOrDefault(q => q.IdReformaPost == Model.ReformaActual) != null)
{
    @Ajax.ActionLink("Agregar Observacion POST", "ObservacionReformaPostAdd", null, new { Model.ReformaActual, Model.OrganizacionId, Model.posicion}, new AjaxOptions { UpdateTargetId = "observacionReformaPost" + Model.posicion }, new { @style = "display:none;", @class = "btn btn-success" })
}
else
{
    @Ajax.ActionLink("Agregar Observacion POST", "ObservacionReformaPostAdd", null, new { Model.ReformaActual, Model.OrganizacionId, Model.posicion}, new AjaxOptions { UpdateTargetId = "observacionReformaPost" + Model.posicion }, htmlAttributes: new { @class = "btn btn-success" })
}

@if (Model.ObservacionReformas.FirstOrDefault(q => q.IdReformaPost == Model.ReformaActual) != null)
{
    for (var i = 0; i < Model.ObservacionReformas.Count; i++)
    {
        Html.HiddenFor(model => model.ObservacionReformas[i].OrganizacionId);
        Html.HiddenFor(model => model.ObservacionReformas[i].observacionRId);
        Html.HiddenFor(model => model.ObservacionReformas[i].IdReformaPost);

        if (Model.ObservacionReformas[i].IdReformaPost == Model.ReformaActual)
        {
            <table>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => Model.ObservacionReformas[i].NumeroOficio)
                            @Html.EditorFor(model => Model.ObservacionReformas[i].NumeroOficio, new { htmlAttributes = new { @class = "form-control", @style = "width: 190px;" } })
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.ObservacionReformas[i].AprobacionId)
                            @Html.DropDownListFor(model => Model.ObservacionReformas[i].AprobacionId, new SelectList(ViewBag.AprobacionId, "Value", "Text", Model.ObservacionReformas[i].AprobacionId), "Seleccione...", htmlAttributes: new { @class = "form-control", @style = "width: 190px;" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => Model.ObservacionReformas[i].FechaOficio)
                            @Html.EditorFor(model => Model.ObservacionReformas[i].FechaOficio, new { htmlAttributes = new { @class = "form-control", @style = "width: 190px;" } })
                        </th>
                        <th>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Ajax.ActionLink("Eliminar", "ObservacionReformaDelete", null, new { Model.ObservacionReformas.ToArray()[i].observacionRId, Model.ObservacionReformas.ToArray()[i].OrganizacionId, Model.ReformaActual, Model.posicion }, new AjaxOptions { UpdateTargetId = "observacionReformaPost" + Model.posicion }, new { @style = "Text-Decoration : none", @class = "btn btn-danger" })
                        </td>

                    </tr>

                </thead>
            </table>
        }
    }
}