@model DAES.Model.SistemaIntegrado.Organizacion
@Html.HiddenFor(model => model.OrganizacionId)
<table class="table table-hover table-striped ">

    @if (!Model.ObservacionLegals.Any())
    {
        @Ajax.ActionLink("Agregar Observacion", "ObservacionLegalAdd", null, new { Model.OrganizacionId }, new AjaxOptions { UpdateTargetId = "observacion" }, htmlAttributes: new { @class = "btn btn-success" })
    }
    else
    {
        if (Model.ObservacionLegals.FirstOrDefault(q => q.OrganizacionId == Model.OrganizacionId).ExistenciaId != null ||
            Model.ObservacionLegals.FirstOrDefault(q => q.OrganizacionId == Model.OrganizacionId).IdExistenciaAnterior != null ||
            Model.ObservacionLegals.FirstOrDefault(q => q.OrganizacionId == Model.OrganizacionId).idExistenciaPost != null)
        {
            @Ajax.ActionLink("Agregar Observacion", "ObservacionLegalAdd", null, new { Model.OrganizacionId }, new AjaxOptions { UpdateTargetId = "observacion" }, new { @style = "display:none;", @class = "btn btn-success" })
        }
        else
        {

            @Ajax.ActionLink("Agregar Observacion", "ObservacionLegalAdd", null, new { Model.OrganizacionId }, new AjaxOptions { UpdateTargetId = "observacion" }, htmlAttributes: new { @class = "btn btn-success" })
        }
    }
        @if (Model.ExistenciaLegals.Any())
        {
            for (var i = 0; i < Model.ObservacionLegals.Count; i++)
            {
                @Html.HiddenFor(model => model.ObservacionLegals[i].OrganizacionId)
                @Html.HiddenFor(model => model.ObservacionLegals[i].observacionId)
                @Html.HiddenFor(model => model.ObservacionLegals[i].ExistenciaId)
                for (var j = 0; j < Model.ExistenciaLegals.Count; j++)
                {
                    if (Model.ObservacionLegals[i].ExistenciaId == Model.ExistenciaLegals[j].ExistenciaId)
                    {
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => Model.ObservacionLegals[i].NumeroOficio)
                                    @Html.EditorFor(model => Model.ObservacionLegals[i].NumeroOficio, new { htmlAttributes = new { @class = "form-control", @style = "width: 190px;" } })
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => Model.ObservacionLegals[i].AprobacionId)
                                    @Html.DropDownListFor(model => Model.ObservacionLegals[i].AprobacionId, new SelectList(ViewBag.AprobacionId, "Value", "Text", Model.ObservacionLegals[i].AprobacionId), "Seleccione...", htmlAttributes: new { @class = "form-control", @style = "width: 190px;" })
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => Model.ObservacionLegals[i].FechaOficio)
                                    @Html.EditorFor(model => Model.ObservacionLegals[i].FechaOficio, new { htmlAttributes = new { @class = "form-control", @style = "width: 190px;" } })
                                </th>
                                <th>

                                    @Html.DisplayNameFor(model => Model.ObservacionLegals[i].FechaDeposito)
                                    @Html.EditorFor(model => Model.ObservacionLegals[i].FechaDeposito, new { htmlAttributes = new { @class = "form-control", @style = "width: 190px;" } })

                                </th>
                            </tr>
                            <tr>
                                <td>
                                    @Ajax.ActionLink("Eliminar", "ObservacionLegalDelete", null, new { Model.ObservacionLegals.ToArray()[i].observacionId, Model.ObservacionLegals.ToArray()[i].OrganizacionId }, new AjaxOptions { UpdateTargetId = "observacion" }, new { @style = "Text-Decoration : none", @class = "btn btn-danger" })
                                </td>

                            </tr>
                        </thead>
                    }
                }

            }
        }
        else if (Model.ExistenciaAnteriors.Any())
        {
            for (var i = 0; i < Model.ObservacionLegals.Count; i++)
            {
                @Html.HiddenFor(model => model.ObservacionLegals[i].OrganizacionId)
                @Html.HiddenFor(model => model.ObservacionLegals[i].observacionId)
                @Html.HiddenFor(model => model.ObservacionLegals[i].IdExistenciaAnterior)
                for (var j = 0; j < Model.ExistenciaAnteriors.Count; j++)
                {
                    if (Model.ObservacionLegals[i].IdExistenciaAnterior == Model.ExistenciaAnteriors[j].IdExistenciaAnterior)
                    {
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => Model.ObservacionLegals[i].NumeroOficio)
                                    @Html.EditorFor(model => Model.ObservacionLegals[i].NumeroOficio, new { htmlAttributes = new { @class = "form-control", @style = "width: 190px;" } })
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => Model.ObservacionLegals[i].AprobacionId)
                                    @Html.DropDownListFor(model => Model.ObservacionLegals[i].AprobacionId, new SelectList(ViewBag.AprobacionId, "Value", "Text", Model.ObservacionLegals[i].AprobacionId), "Seleccione...", htmlAttributes: new { @class = "form-control", @style = "width: 190px;" })
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => Model.ObservacionLegals[i].FechaOficio)
                                    @Html.EditorFor(model => Model.ObservacionLegals[i].FechaOficio, new { htmlAttributes = new { @class = "form-control", @style = "width: 190px;" } })
                                </th>
                                <th>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    @Ajax.ActionLink("Eliminar", "ObservacionLegalDelete", null, new { Model.ObservacionLegals.ToArray()[i].observacionId, Model.ObservacionLegals.ToArray()[i].OrganizacionId }, new AjaxOptions { UpdateTargetId = "observacion" }, new { @style = "Text-Decoration : none", @class = "btn btn-danger" })
                                </td>

                            </tr>
                        </thead>
                    }
                }

            }
        }
        else if (Model.ExistenciaPosteriors.Any())
        {
            for (var i = 0; i < Model.ObservacionLegals.Count; i++)
            {
                @Html.HiddenFor(model => model.ObservacionLegals[i].OrganizacionId)
                @Html.HiddenFor(model => model.ObservacionLegals[i].observacionId)
                @Html.HiddenFor(model => model.ObservacionLegals[i].idExistenciaPost)
                for (var j = 0; j < Model.ExistenciaPosteriors.Count; j++)
                {
                    if (Model.ObservacionLegals[i].idExistenciaPost == Model.ExistenciaPosteriors[j].idExistenciaPost)
                    {
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => Model.ObservacionLegals[i].NumeroOficio)
                                    @Html.EditorFor(model => Model.ObservacionLegals[i].NumeroOficio, new { htmlAttributes = new { @class = "form-control", @style = "width: 190px;" } })
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => Model.ObservacionLegals[i].AprobacionId)
                                    @Html.DropDownListFor(model => Model.ObservacionLegals[i].AprobacionId, new SelectList(ViewBag.AprobacionId, "Value", "Text", Model.ObservacionLegals[i].AprobacionId), "Seleccione...", htmlAttributes: new { @class = "form-control", @style = "width: 190px;" })
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => Model.ObservacionLegals[i].FechaOficio)
                                    @Html.EditorFor(model => Model.ObservacionLegals[i].FechaOficio, new { htmlAttributes = new { @class = "form-control", @style = "width: 190px;" } })
                                </th>
                                <th>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    @Ajax.ActionLink("Eliminar", "ObservacionLegalDelete", null, new { Model.ObservacionLegals.ToArray()[i].observacionId, Model.ObservacionLegals.ToArray()[i].OrganizacionId }, new AjaxOptions { UpdateTargetId = "observacion" }, new { @style = "Text-Decoration : none", @class = "btn btn-danger" })
                                </td>

                            </tr>
                        </thead>
                    }
                }

            }
        }


    </table>
